.step-content .billing-form
{
    width: 300px;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.billing-inputs .form-group {
    margin: 30px 20px;
    font-size: 30px;
}

.billing-inputs select, option {
    border-radius: 3px;
    width: 300px;
    height: 30px;
    font-size: 16px;
}

select option[value="default"] {
    display: none;
}

.billing-inputs input {
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    border: 0.5px solid black;
}

.billing-inputs .warning {
    font-weight: bold;
    font-size: 14px;
    margin-left: 15px;
}

.step-content .button button {
    border-radius: 5px;
    background: rgb(243, 255, 243);
    width: 150px;
    height: 35px;
    border: 3px solid rgb(22, 213, 35);
    transition: all linear 250ms;
    font-size: 17px;
    margin-bottom: 30px;
    margin-left: 70px;
}

.step-content .button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(246, 112, 68);
}