.main-header {
    background:rgb(60, 60, 60);
}

.main-navigation-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.main-navigation-menu li {
    padding: 16px 20px 16px 20px;
    display: flex;
    align-items: center;
}

.main-navigation-menu li.shopping-cart {
    margin-left: auto;
    position: relative;
}

.main-navigation-menu li.shopping-cart img {
    margin-left: auto;
    height: 35px;
    margin-right: 10px;
}

.main-navigation-menu li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: all linear 250ms;
    display: inline-flex;
    align-items: center;
}

.main-navigation-menu a:hover {
    color:rgb(140, 236, 255);
    transform: scale(1.08);
    text-decoration: underline;
}

.main-navigation-menu .nav-icon {
    width: 70px;
    height: 70px;
    display: flex;
}

.main-navigation-menu .cart-counter {
    position: relative;
    bottom: 10px;
    right: 14px;
    background: white;
    color: black;
    border-radius: 12px;
    padding: 0px 4px;
    font-size: 15px;
    font-weight: bold;

}

.main-navigation-menu .dropdown {
    position: absolute;
    width: 400px;
    background: white;
    right: 0;
    top: 60px;
    border-radius: 16px;
    padding-bottom: 20px;
}


.main-navigation-menu .dropdown ul {
    padding: 0;
    margin-bottom: 30px;
}

.main-navigation-menu .dropdown li {
    border-bottom: 3px dashed black;
}

.main-navigation-menu .dropdown-cart-item-name {
    width: 50%;
    text-align: left;
}
.main-navigation-menu .dropdown-cart-item-quantity {
    width: 25%;
}

.main-navigation-menu .dropdown-cart-item-price {
    width: 25%;
    text-align: right;
}

.main-navigation-menu .button {
    border-radius: 16px;
    border: 3px solid rgb(87, 233, 231);
    height: 40px;
    background-color: white;
    font-size: 15px;
    transition: all linear .25s;
}

.main-navigation-menu .button:hover {
    cursor: pointer;
    background-color: rgb(199, 199, 199);
    border: 3px solid red;
}



